<h1><%= @task.title %></h1>
<p><%= @task.details %> </p>
<input type="checkbox" class="completed" name="completed" <%= 'checked' if @task.completed  %>>
<label for="completed">Completed?</label>

<%# link to tasks list %>
<%= link_to "Back to list", tasks_path %>

<%# link to edit details %>
<%= link_to "Edit task", edit_task_path %>
